.line {
    width: 300px;
    height: 2px;
    background-color: black;
}

.rlv-title {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 50px;
}

.Relevant {
    margin-bottom: 100px;
}

.rlv-detail {
    display: flex;
    flex-direction: column;
}

.rlv1, .rlv2, .rlv3, .rlv4 {
    width: 700px;
    height: 330px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.rlv1 img, .rlv2 img, .rlv3 img {
    margin-left: 8px;
    border-radius: 5px;
}

.rlv1 p, .rlv2 p, .rlv3 p, .rlv4 p {
    width: 300px;
    color: white;
    font-size: 1.5em;
}

.rlv1 button, .rlv2 button, .rlv3 button, .rlv4 button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.rlv-products-1, .rlv-products-2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.relevant-products {
    
}

.relevant-products img {
    width: 250px;
    height: 300px;
    object-fit: cover;
}



/* CSS cho button */
.animated-button {
    width: max-content;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid transparent;
    border-radius: 100px;
    font-size: 16px;
    background-color: inherit;
    font-weight: 600;
    color: rgb(0, 255, 68);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(0, 255, 68);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(0, 255, 68);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(47, 194, 86);
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}




.relevant-products a.carousel-control-next {
    display: none;
}

.relevant-products a.carousel-control-prev {
    display: none;
}

.Relevant .right-ft {
    display: flex;
    align-items: center;
}
