.line {
    width: 300px;
    height: 2px;
    background-color: black;
}

.rlv-title {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 50px;
}

.Relevant {
    margin-bottom: 100px;
}

.rlv-detail {
    display: flex;
    flex-direction: column;

}

.rlv1 {
    width: 850px;
    height: 320px;
    background-color: rgb(0, 0, 0);
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.rlv1 img {
    margin-left: 8px;
}

.rlv1 p {
    color: white;
}

.rlv1 button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-left: 40px;
}




.rlv2 {
    width: 850px;
    height: 320px;
    background-color: rgb(0, 0, 0);
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.rlv2 img {
    margin-left: 8px;
}

.rlv2 p {
    color: white;
}

.rlv2 button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-left: 40px;
}



.rlv3 {
    width: 850px;
    height: 320px;
    background-color: rgb(0, 0, 0);
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.rlv3 img {
    margin-left: 8px;
}

.rlv3 p {
    color: white;
}

.rlv3 button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-left: 40px;
}


.rlv4 {
    width: 850px;
    height: 320px;
    background-color: rgb(0, 0, 0);
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.rlv4 img {
    margin-left: 8px;
}

.rlv4 p {
    color: white;
}

.rlv4 button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-left: 40px;
}

.rlv-products-1 {
    display: flex;
    gap: 100px; 
}


.rlv-products-2 {
    display: flex;
    gap: 100px;
    margin-left: 100px;
}

