@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');

.SignUp {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: flex-end;
    
}

.sign-up {
    width: 400px;
    height: 700px;
    margin-right: 150px;
}

.sign-up-title {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Righteous", sans-serif;
  }

.remember-have {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.have {
    text-decoration: none;
    color: rgb(0, 128, 255);
    transition : 0.3s;
    font-size: 1.2em;
    text-decoration: underline;
  }

.have:hover {
    color: rgb(100, 100, 100);
    transform: 0.3s;
  }

#havebtn {
    width: 400px;
    height: 50px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    margin-bottom: 30px;
    text-decoration: none;
  }

#btnSU{
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  color: white;
  background-color: black;
  font-size: 30px;
  font-family: "Righteous", sans-serif;
}
#btnSU:hover{
  background-color: rgb(93, 93, 93);
  transform: 0.1s;
  font-family: "Righteous", sans-serif;
}






  

  .su-img1 {
    border: 2px solid black;
    margin-bottom: 10px;
    position: relative;
    transform: translate(0, -10px);
  }

  .su-img2 {
    border: 2px solid black;
  }

  .su-img3 {
    border: 2px solid black;
    margin-bottom: -10px;
    position: relative;
    transform: translate(0, -30px);
  }

  .su-img4 {
    border: 2px solid black;
  }

#su-img4 {
    background-position: 100%;
}

.all-sign-up-images {
    height: 729px;
    width: 1530px;
    overflow-y:hidden;
}

.sign-up-images {
    display: flex;
    gap: 20px;
  }


