@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.4em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 0.8em;
    width: 0.8em;
    border-radius: 20px;
    left: 0.1em;
    bottom: 0.23em;
    background-color: #adb5bd;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
    border: 1px solid #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }

  .sign-in {
    width: 400px;
    height: 700px;
    margin-left: 150px;
  }

  .sign-in-title {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Righteous", sans-serif;
  }

  #si-tt {
      font-size: 4em;
  }

  .remember-me {
      display: flex;
      gap: 5px;
      font-size: 1.2em;
  }

  .remember-create {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
  }

  .switch {
    margin-top: 4px;
  }
  
  .create {
    text-decoration: underline;
    color: rgb(0, 128, 255);
    transition : 0.3s;
    font-size: 1.2em;
  }

  .create:hover {
    color: rgb(100, 100, 100);
    transform: 0.3s;
  }

  #inputyouremail, #inputyourpassword, #inputyourname {
      width: 400px;
      height: 40px;
      margin-bottom: 20px;
      border: 2px solid rgb(208,208,208);
      border-radius: 8px;
      color: black;
      padding: 0 10px;
  }

  #btnsn {
    width: 400px;
    height: 60px;
    font-size: 1.5em;
    color: white;
    border: none;
    background-color: black;
    border-radius: 100px;
    margin-bottom: 30px;
    font-family: "Righteous", sans-serif;
    
  }
  #btnsn:hover{
    background-color: rgb(93, 93, 93);
    transform: 0.1s;
    font-family: "Righteous", sans-serif;
  }

  #crtbtn {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #crtbtn:hover{
    color: rgb(0, 128, 255);
  }

  .create-an-account {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 60px;
    border: 1px solid ;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Righteous", sans-serif;
    padding: 5px;
  }
  .create-an-account:hover{
    color: rgb(0, 128, 255);
    border: 1px solid rgb(0, 128, 255);
    transform: 0.1s;
    font-family: "Righteous", sans-serif;

  }

  #err{
    width: 100%;
    height: 40px;
    color: red;
    font-size: 15px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #success{
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Righteous", sans-serif;
  }





  .sign-in-images {
    display: flex;
    gap: 20px;
    transform: translate(80px,0);
  }

  .all-sign-in-images {
    width: 700px;
    height: 729px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .si-img1 {
    border: 2px solid black;
    margin-bottom: 10px;
    position: relative;
    transform: translate(0, -10px);
  }

  .si-img2 {
    border: 2px solid black;
  }

  .si-img3 {
    border: 2px solid black;
    margin-bottom: -10px;
    position: relative;
    transform: translate(0, -30px);
  }

  .si-img4 {
    border: 2px solid black;
  }


  .SignIn {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: flex-end;
  }