.attire-category1 {
    width: 500px;
    height: 420px;
    background-image: url("../Image/AttireHoodies.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 100%;
    border: 5px solid rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.attire-category2 {
    width: 500px;
    height: 420px;
    background-image: url("../Image/AttireTTops.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 100%;
    border: 5px solid rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.attire-category3 {
    width: 500px;
    height: 420px;
    background-image: url("../Image/AttireTees.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 100%;
    border: 5px solid rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.attire-category4 {
    width: 500px;
    height: 420px;
    background-image: url("../Image/AttireSweaters.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 100%;
    border: 5px solid rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.attire-category1-in h1 {
    font-size: 2em; 
    font-weight:lighter;
}

.attire-category1-in button {
    border-radius: 50px;
    background-color: black;
    width: 200px;
    height: 70px;
}

.attire-category1-in {
    text-align: center;
    width: 420px;
    height: 350px;
    border: 3px solid black;
}

.attire-category1-in-in {
    margin-top: 100px;
}

.Attire-at-1 {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.Attire-at-2 {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.container-at-2 a.carousel-control-prev {
    display: none;
}

.container-at-2 a.carousel-control-next {
    display: none;
}

.container-at-2 {
    position: relative;
  }
  
.container-at-2 #prev-ft  {
    position: absolute;
    top: 50%;
    transform: translateY(-100px);
    width: 50px;
    height: 120px;
    border-radius: 50px;
    background-color: rgb(208,208,208);
    color: black;
    border: none;
  }

  .container-at-2 #next-ft {
    position: absolute;
    top: 50%;
    transform: translateY(-100px);
    width: 50px;
    height: 120px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
  }
  
.container-at-2  #prev-ft {
    left: -100px; 
  }
  
.container-at-2  #next-ft {
    right: -100px;
  }
.SM {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: #000000;
   }
   
   .SM:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .SM:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px white
   }
   
   .SM::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .SM:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }