@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');
.Div{
    width: 100%;
    height:900px;
    background-image: url("https://media.istockphoto.com/id/509616488/photo/aged-wall-background.webp?b=1&s=170667a&w=0&k=20&c=-7FMeZ0cGror7D9BNeJVkD_Dan4MIs5C-e9agrOiZos=");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#HeadProduct{
    font-size: 200px;
    font-family: "Righteous", sans-serif;
}