.Categories-13, .Categories-14, .Categories-15, .Categories-16, .Categories-17, .Categories-18 {
    width: 400px;
    height: 750px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
}

.Categories-13::before {
    position: absolute;
    content: 'SALE 20%';
    transform: rotate(-90deg);
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(68, 250, 99);
    border-radius: 10px 0 0 0;
    top: 5.4%;
    right: -5.5%;
    z-index: 1000;
}

.Categories-14::before {
    position: absolute;
    content: 'SALE 20%';
    transform: rotate(-90deg);
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(68, 250, 99);
    border-radius: 10px 0 0 0;
    top: 5.4%;
    right: -5.5%;
    z-index: 1000;
}

.Categories-15::before {
    position: absolute;
    content: 'SALE 20%';
    transform: rotate(-90deg);
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(68, 250, 99);
    border-radius: 10px 0 0 0;
    top: 5.4%;
    right: -5.5%;
    z-index: 1000;
}

.Categories-16::before {
    position: absolute;
    content: 'SALE 20%';
    transform: rotate(-90deg);
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(68, 250, 99);
    border-radius: 10px 0 0 0;
    top: 5.4%;
    right: -5.5%;
    z-index: 1000;
}

.Categories-17::before {
    position: absolute;
    content: 'SALE 20%';
    transform: rotate(-90deg);
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(68, 250, 99);
    border-radius: 10px 0 0 0;
    top: 5.4%;
    right: -5.5%;
    z-index: 1000;
}

.Categories-18::before {
    position: absolute;
    content: 'SALE 20%';
    transform: rotate(-90deg);
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(68, 250, 99);
    border-radius: 10px 0 0 0;
    top: 5.4%;
    right: -5.5%;
    z-index: 1000;
}

.Categories-13:hover {
    transition: 0.3s;
    transform: translate(-10px, -10px);
    box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    transition: 0.3s;
}

.Categories-14:hover {
    transition: 0.3s;
    transform: translate(-10px, -10px);
    box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    transition: 0.3s;
} 

.Categories-15:hover {
    transition: 0.3s;
    transform: translate(-10px, -10px);
    box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    transition: 0.3s;
}

.Categories-16:hover {
    transition: 0.3s;
    transform: translate(-10px, -10px);
    box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    transition: 0.3s;
}

.Categories-17:hover {
    transition: 0.3s;
    transform: translate(-10px, -10px);
    box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    transition: 0.3s;
}

.Categories-18:hover {
    transition: 0.3s;
    transform: translate(-10px, -10px);
    box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    transition: 0.3s;
}

.Categories-13 img {
    margin-top: 10px;
    background-size: contain;
    background-position: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.Categories-14 img {
    margin-top: 10px;
    background-size: contain;
    background-position: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.Categories-15 img {
    margin-top: 10px;
    background-size: contain;
    background-position: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.Categories-16 img {
    margin-top: 10px;
    background-size: contain;
    background-position: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.Categories-17 img {
    margin-top: 10px;
    background-size: contain;
    background-position: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.Categories-18 img {
    margin-top: 10px;
    background-size: contain;
    background-position: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.Categories-13 p {
    color: white;
    font-size: 1.2em;
}

.Categories-14 p {
    color: white;
    font-size: 1.2em;
}

.Categories-15 p {
    color: white;
    font-size: 1.2em;
}

.Categories-16 p {
    color: white;
    font-size: 1.2em;
}

.Categories-17 p {
    color: white;
    font-size: 1.2em;
}

.Categories-18 p {
    color: white;
    font-size: 1.2em;
}

.BN {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 73px;
    border-radius: 9px;
    background: white;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
   }
   
   .BN:hover {
    box-shadow: 7px 5px 100px -7px rgb(68, 250, 99);
   }
   
   .BN:active {
    background-color: rgb(68, 250, 99);
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px rgb(68, 250, 99);
   }

.All-Categories3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px; 
    margin-top: 50px;
    margin-bottom: 100px;
}

.Categories-13, .Categories-14, .Categories-15, .Categories-16, .Categories-17, .Categories-18 {
    flex: 1 1 calc(33.33% - 50px);
    max-width: 400px; 
    height: 750px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.3s;
}