@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');
#ctgr-tt {
    text-align: center;
    margin-top: 100px;
    font-size: 8em;
}

.Categories-nav {
    display: flex;
    justify-content: space-around;
    font-size :2em;
}

#ctgr-nav2, #ctgr-nav3, #ctgr-nav4  {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 50px;
}

#ctgr-nav1 {
    text-decoration:underline;
    color: black;
    font-weight: bold;
    margin-top: 50px;
}

.all-product-tag {
    margin-left: 160px;
    margin-top: 60px;
}

.all-product-tag h1 {
    font-weight: lighter;
}

/* CSS cho các sản phẩm */

.Categories-19, .Categories-20, .Categories-21, .Categories-22, .Categories-23, .Categories-24 {
    width: 400px;
    height: 750px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
}

.Categories-19::before, .Categories-20::before, .Categories-21::before, .Categories-22::before, .Categories-23::before, .Categories-24::before {
    position: absolute;
    content: 'SALE 10%';
    transform: rotate(-90deg);
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rgb(68, 250, 99);
    border-radius: 10px 0 0 0;
    top: 5.4%;
    right: -5.5%;
    z-index: 1000;
}

.Categories-19:hover, .Categories-20:hover, .Categories-21:hover, .Categories-22:hover, .Categories-23:hover, .Categories-24:hover {
    transition: 0.3s;
    transform: translate(-10px, -10px);
    box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: 4px 5px 14px 0px rgba(114,114,114,0.75);
}

.Categories-19 img, .Categories-20 img, .Categories-21 img, .Categories-22 img, .Categories-23 img, .Categories-24 img {
    margin-top: 10px;
    background-size: contain;
    background-position: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.Categories-19 p, .Categories-20 p, .Categories-21 p, .Categories-22 p, .Categories-23 p, .Categories-24 p {
    color: white;
    font-size: 1.2em;
}

#BN {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 73px;
    border-radius: 9px;
    background: white;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    font-family: "Righteous", sans-serif;
   }
   
   #BN:hover {
    box-shadow: 7px 5px 100px -7px rgb(68, 250, 99);
   }
   
   #BN:active {
    background-color: rgb(68, 250, 99);
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px rgb(68, 250, 99);
   }
   #p{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.img-des {
    text-align: center;
}

.star {
    display: flex;
    gap: 7px;
    margin-left: 20px;
}

.detail {
    margin-right: 20px;
}

.star-detail {
    display: flex;
    justify-content: space-between;
}

.original-price {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    gap: 20px;
    margin-bottom: 20px;
}

.original-price #price1 {
    color: rgb(73, 197, 68);
    text-decoration: line-through;
    font-size: 1em;
}

.original-price #price2 {
    color: white;
    font-size: 1em;
}

.All-Categories4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px; 
    margin-top: 50px;
    margin-bottom: 100px;
}

.All-Categories-2 {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}