@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');
.Featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Righteous", sans-serif;
    
}

.container {
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear2 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}


#attire-1::before,#attire-2::before,#attire-3::before,#attire-4::before,
#attire-1::after,#attire-2::after, #attire-3::after, #attire-4::after {
    position: absolute;
    width: 0%;
    height: 0%;
    display: flex;
    content: "";
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
    font-size: 25px;
    font-weight: bold;
    transition: all 0.5s;
}

#attire-1::before, #attire-2::before, #attire-3::before, #attire-4::before {
    top: 0;
    right: 0;
    border-radius: 0 5px 0 100%;
}

#attire-1::after, #attire-2::after, #attire-3::after, #attire-4::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 5px;
}

#attire-1:hover::before,#attire-2:hover::before, #attire-3:hover::before, #attire-4:hover::before,
#attire-1:hover::after, #attire-2:hover::after, #attire-3:hover::after, #attire-4:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.7s;
}

#attire-1:hover::after, #attire-2:hover::after, #attire-3:hover::after, #attire-4:hover::after{
    content: '...';
    font-size: 1.5em;
}





.container-ctgr-2 .carousel-control-prev {
    transform: translate(0, -40px);
}

a.carousel-control-next {
    transform: translate(0, -40px);
}

.Attire-ctgr-1 {
    display: flex;
    gap: 100px; 
    justify-content: center;
}

.Attire-ctgr-2 {
    display: flex;
    gap: 100px;
    justify-content: center;
}


#attire-1, #attire-2, #attire-3, #attire-4  {
    width: 300px;
    height: 300px;
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    cursor: pointer;
    background-color:rgb(208, 208, 208);
}

.attire-5-k, .attire-6-k {
    width: 300px;
    height: 300px;
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.container-ep-2 {
    margin-bottom: 200px;
}

.left-ft {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.left-ft #prev-ft {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: rgb(208,208,208);
    color: black;
    border: none;
}

.left-ft #next-ft {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
}

.container-ep-2 a.carousel-control-next {
    display: none;
}

.container-ep-2 a.carousel-control-prev {
    display: none;
}



