#na-title {
    font-size: 10em;
    font-weight: lighter;
    text-align: center;
}

.Introduce {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.introduce-1 {
    width: 600px;
    height: 450px;
    background-color: rgb(208, 208, 208);
}

.introduce-2 {
    font-weight: bolder;
    text-align: center;
    padding: 29px;
}

.introduce-3 {
    width: 500px;
    height: 220px;
    background-color: rgb(208, 208, 208);
}

#wis {
    font-size: 4em;
}

.NewArrivals {
    
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    margin-bottom: 100px;

}

@keyframes appear4 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

