@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');
.Featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Righteous", sans-serif;
}

.container {
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    margin-top: 50px;
}

@keyframes appear2 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}


.left-ft {
    display: flex;
    align-items: center;
    gap: 30px;
}

#prev-ft {
    border: none;
    border-radius: 50px;
    background-color: rgb(208, 208, 208);
    color: black;
    width: 60px;
    height: 60px;
}

#next-ft {
    border: none;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
}

.right-ft {
    margin-left: 30px;
}

.left-ft {
    margin-right: 30px;
}

.Attire-1, .Attire-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    cursor: pointer;
    gap: 100px;
}

.attire-1, .attire-2 {
    width: 310px;
    height: 280px;
    background-color:rgb(208, 208, 208);
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}


.container-2 {
    display: flex;
    overflow: hidden;
    gap: 100px;
    margin-bottom: 200px;
}

