.home {
    width: 1000px;
    height: 1000px;
    background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/440957510_1526008334926626_7740029123597612278_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_ohc=dkIdLZFEH3MQ7kNvgGmdaEh&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QEwtanrRDWWWy2eELd2PXeta0nBH3STsgbeFs9jbR0Yww&oe=66E529C7');
    background-repeat: no-repeat;
}