.Member {
    background-color: rgb(208,208,208);
    width: 100vw;
    height: 630px;
    margin-bottom: 50px;
}

#meet {
    text-align: center;
    transform: translate(0, 30px);
    font-size: 3em;
}

.all-member {
    display: flex;
    justify-content: space-around;
    animation: appear6 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear6 {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}



.member1-img, .member2-img, .member3-img {
    width: 250px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin-top: 50px;
    position: relative;
    top: 50px;
    z-index: 1000;
}

.ctu-icon2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

#name1, #name2, #name3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    font-size: 1.4em;
}

.member1-info {
    background-color: black;
    width: 280px;
    height: 170px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transform: translate(-15px,0);
}

.member2-info {
    background-color: black;
    width: 280px;
    height: 170px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transform: translate(-15px,0);
}

.member3-info {
    background-color: black;
    width: 280px;
    height: 170px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transform: translate(-15px,0);
}
