.M-img-1 {
    width: 200px;
    height: 200px;
    background-color: rgb(208,208,208);
}

.M-img-2 {
    width: 200px;
    height: 200px;
    background-color: rgb(208,208,208);
}

.M-img-3 {
    width: 420px;
    height: 200px;
    background-color: rgb(208,208,208);
}
.mainOurMission{
    width: 100%;
    height:700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.Our-Mission {
    width: 90%;
    height: 100%;
    background-color: #626262;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.Mission {
    width: 45%;
    height: 80%;
    text-align: center;
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    display: flex;
    flex-direction: column;

}

@keyframes appear4 {
    from {
        opacity: 0;
        transform: translate(-100px,0);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.Mission-Img {
    animation: appear5 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear5 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



#mission-1 {
    font-size: 4em;
    margin-bottom: 50px;
}

#afterword {
    width: 100%;
    height: auto;
    font-size: 2.1em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.M-img-1-2 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}.M-img-1 {
    width: 200px;
    height: 200px;
    background-color: rgb(208,208,208);
}

.M-img-2 {
    width: 200px;
    height: 200px;
    background-color: rgb(208,208,208);
}

.M-img-3 {
    width: 420px;
    height: 200px;
    background-color: rgb(208,208,208);
}

.Our-Mission {
    width: 100vw;
    height: 600px;
    background-color: #626262;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}



.Mission {
    text-align: center;
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear4 {
    from {
        opacity: 0;
        transform: translate(-100px,0);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.Mission-Img {
    animation: appear5 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear5 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



#mission-1 {
    font-size: 4em;
    margin-bottom: 50px;
}

#afterword {
    font-size: 1.3em;
}

.M-img-1-2 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}