@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');
#na-title {
    font-size: 10em;
    font-weight: lighter;
    text-align: center;
    font-family: "Righteous", sans-serif;
}

.Introduce {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.introduce-1 {
    width: 600px;
    height: 450px;
    background-image: url('https://i.pinimg.com/564x/86/32/3e/86323eeb2965c571c1a85c97d6d38b46.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 65%;
}

.introduce-2 {
    font-weight: bolder;
    text-align: center;
    padding: 29px;
}

.introduce-3 {
    width: 500px;
    height: 220px;
    background-color: rgb(208, 208, 208);
}

#wis {
    font-size: 4em;
    font-family: "Righteous", sans-serif;
}

.NewArrivals {
    
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    margin-bottom: 100px;
}

@keyframes appear4 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

