.pl-1 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-2 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-3 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-4 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-5 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-6 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-img2 {
    background-size: 100%;
    object-fit: cover;
}