@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');
.Div{
    width: 100%;
    height:900px;
    background-image: url("../Image/WallProduct.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#HeadProduct{
    font-size: 200px;
    font-family: "Righteous", sans-serif;
}