.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.carousel-control-prev {
    border-radius: 100px;
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(173, 173, 173);
    width: 100px;
    height:100px;
    transform: translate(50%, 50%);
    display: flex;
}

.carousel-control-next {
    border-radius: 100px;
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(173, 173, 173);
    width: 100px;
    height:100px;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
}



