/* Dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');

.Dashboard {
    padding: 20px;
}

.dashboard-title {
    text-align: center;
    margin-bottom: 20px;
}

.Create-Part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Product-DS {
    margin-bottom: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.Input-DS {
    width: 30%;
    margin-bottom: 20px;
}

.size-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.size-container div {
    display: flex;
    align-items: center;
}

.create-DS-btn {
    background-color: #4CAF50;
    width: 70px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: "Righteous", sans-serif;
}

.create-DS-btn:hover {
    background-color: #45a049;
}
.Input-ds{
    width: 100%;
    height: 80px;
    font-family: "Righteous", sans-serif;
}
#InputCreate{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}