@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Staatliches&display=swap');
.Footer {
    background-color: black;
    width: 100vw;
    height: 550px;
    color: white;
    font-family: "Righteous", sans-serif;
}
li{
    text-decoration: none;
    color: white;
}
.nav-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 70px;
    transform: translate(0,80%);
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 100px;

}

#streetbrand-footer {
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

#myh1 {
    font-size: 3em;
}

#myh2 {
    font-size: 2.3em;
}

.ctu-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ctu-clothes {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
}

.footer-payments {
    transform: translate(0, -6%);
}

#contact-icon {
    font-size: 35px;
}

#homef,
#productsf,
#about-usf,
#sign-inf,
#sign-upf {
    text-decoration: none;
    color: white;
}

#homef:hover,
#productsf:hover,
#about-usf:hover,
#sign-inf:hover,
#sign-upf:hover {
    text-decoration: underline;
}


