.pl-1, .pl-2, .pl-3, .pl-4, .pl-5, .pl-6 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
    border: 2px solid black;
    position: relative;
}

#pl-img1, #pl-img2, #pl-img3, #pl-img4, #pl-img5, #pl-img6 {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.content-haha {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    border: 2px solid black;
    background-color: rgba(86, 86, 86, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content-haha:hover {
    opacity: 1;
}

.content-haha button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid white;
}


.pl-2 {
    width: 310px;
    height: 400px;
    background-color: rgb(255, 0, 0);
}

.pl-3 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-4 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-5 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-6 {
    width: 310px;
    height: 400px;
    background-color: rgb(221, 221, 221);
}

.pl-img2 {
    background-size: 100%;
    object-fit: cover;
}

.container-ppl {
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear2 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}



.Popular-1 {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.Popular-2 {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.right-ft {
    margin-left: 200px;
}

.left-ft {
    margin-right: 200px;
}

.container-ppl-2 {
    margin-bottom: 200px;
}

.container-ppl-2 a.carousel-control-next {
    display: none;
}

.container-ppl-2 a.carousel-control-prev {
    display: none;
}

